@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a9z87n');
  src:  url('fonts/icomoon.eot?a9z87n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a9z87n') format('truetype'),
    url('fonts/icomoon.woff?a9z87n') format('woff'),
    url('fonts/icomoon.svg?a9z87n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e94e";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-cog:before {
  content: "\e994";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
